---
Checks: >
  -*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-use-nodiscard,
  -readability-magic-numbers,
  -readability-identifier-length,
  -bugprone-easily-swappable-parameters,
  -readability-identifier-naming,
  -bugprone-reserved-identifier,
  -modernize-use-using,
  -modernize-macro-to-enum,
  -modernize-deprecated-headers,
  -readability-non-const-parameter,
  -readability-named-parameter,
  -readability-braces-around-statements,
  -bugprone-dynamic-static-initializers,
  -performance-enum-size,
  -readability-inconsistent-declaration-parameter-name,
  -readability-redundant-declaration,
  -modernize-use-std-print,
  -readability-implicit-bool-conversion,
  -modernize-use-auto,
  -performance-no-int-to-ptr,
  -readability-function-cognitive-complexity,
  -bugprone-narrowing-conversions,
  -modernize-use-nullptr,
  -modernize-redundant-void-arg,
  -bugprone-signed-char-misuse,
  -modernize-use-designated-initializers,
  -readability-isolate-declaration,
  -readability-use-std-min-max,
  -bugprone-implicit-widening-of-multiplication-result,
  -modernize-use-bool-literals,
  -readability-redundant-casting,
  -readability-static-accessed-through-instance,
  -readability-else-after-return,
  -readability-math-missing-parentheses,
  -modernize-use-integer-sign-comparison,
  -modernize-loop-convert
WarningsAsErrors: ""
HeaderFilterRegex: '.*'